:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}

body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

h5 {
  margin-top: 2px;
  float: left;
}

.btn-save {
  float: right;
}

.ProseMirror {
  display: block;
  min-height: 250px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  border-top: 0;
  background-color: #ffffff;
}

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn.btn-outline-secondary {
  padding: 3px 11px 5px 11px !important;
  border: 1px solid #d2d2d2;
}
.btn-outline-secondary:hover {
  background-color: #f8f8f8;
  color: black;
}
.btn.btn-outline-secondary i {
  margin: 0;
  font-size: 12px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  padding: 3px 20px 6px 20px;
}

@media only screen and (max-width: 750px) {
  .col-categories {
    height: auto !important;
  }
}
