:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}

body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

header h5 {
  margin-top: 2px;
  float: left;
}

.btn-save {
  float: right;
}

.ProseMirror {
  display: block;
  min-height: 250px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  border-top: 0;
  background-color: #ffffff;
  height: 420px !important;
  overflow: hidden;
  overflow-y: auto;
}

.CodeMirror {
  height: 400px !important;
}

.CodeMirror-fullscreen {
  height: 100% !important;
}

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  padding: 4px 20px 7px 20px;
}

.btn-save {
  position: absolute;
  top: 9px;
  right: 147px;
}

.btn-publish {
  position: absolute;
  top: 9px;
  right: 17px;
}

.btn-preview {
  position: absolute;
  top: 9px;
  right: 255px;
}

a .fa-solid {
  margin-right: 7px;
}

small {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.badge.bg-primary {
  background-color: #676be7 !important;
}

@media only screen and (max-width: 1024px) {
  .col-categories {
    height: auto !important;
  }
  .mob-hide {
    display: none;
  }

  nav {
    width: 55px !important;
  }

  .indent {
    padding-left: 20px !important;
  }

  main {
    padding-left: 55px !important;
  }
}

@media only screen and (max-width: 768px) {
  .h-100 {
    height: auto !important;
  }

  .sidebar {
    display: none;
  }

  .editor-sidebar {
    display: block;
    border-top: 1px solid #ddd;
    padding-bottom: 30px !important;
  }
}
