:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body {
  height: 100%;
  background-color: #f8f8f8;
}

body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}

header h5 {
  margin-top: 5px;
  float: left;
}

.btn-save {
  float: right;
}

.ProseMirror {
  display: block;
  min-height: 250px !important;
  border: 1px solid #ddd;
  padding: 15px;
  outline: none;
  border-radius: 0 0 6px 6px;
  margin-bottom: 20px;
  border-top: 0;
  background-color: #ffffff;
}

label {
  display: block;
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 5px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;
  padding: 4px 20px 7px 20px;
}

.btn-save {
  position: fixed;
  top: 11px;
  right: 147px;
  z-index: 99999999;
}

.saveBtns {
  position: fixed;
  top: 8px;
  right: 17px;
  z-index: 99999999;
}

a .fa-solid {
  margin-right: 7px;
}

small {
  display: block;
  margin-bottom: 10px;
  color: #777;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 99999999999999999;
}

.nav-pills a {
  color: black;
  cursor: pointer;
}

.nav-pills a:hover {
  color: #676be7;
  cursor: pointer;
}

.badge.bg-primary,
.nav-pills a.active {
  background-color: #676be7 !important;
}

.list-group-item a {
  color: black;
}

.list-group-item a:hover {
  color: black;
  text-decoration: underline;
}

.list-group-item {
  border-top: 1px solid #dfdfdf !important;
  border-bottom: 0 !important;
}

.list-group-item:last-child {
  border-bottom: 1px solid #dfdfdf !important;
}

.col2 {
  position: fixed;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  z-index: 99;
  left: 200px;
  top: 60px;
  width: 320px;
}

.col2 .list-group:nth-child(2) .list-group-item {
  top: 63px;
}

.col2 {
  background-color: white;
  border-right: 1px solid #ddd;
}

.col2 .list-group-item {
  padding: 20px;
  border-radius: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-left: 5px solid transparent;
  height: 85px;
  padding-left: 40px !important;
}

.col2 .list-group-item:hover {
  background-color: #f8f8f8;
  user-select: none;
  cursor: pointer;
  color: black;
}

.col2 .active2 {
  background-color: #f8f8f8;
  width: 100.5%;
  border-left: 5px solid #656bf7;
  user-select: none;
}

.col2 {
  overflow-x: hidden;
  overflow-y: auto;
}

.post-editor {
  padding-left: 340px !important;
}

@media only screen and (max-width: 1024px) {
  .col-categories {
    height: auto !important;
  }
  .mob-hide {
    display: none;
  }

  nav {
    width: 55px !important;
  }

  .indent {
    padding-left: 20px !important;
  }

  main {
    padding-left: 55px !important;
  }

  header {
    left: 55px !important;
  }

  .col2 {
    left: 55px;
    width: 100%;
  }

  .post-editor {
    padding-left: 20px !important;
  }
}

@media only screen and (max-width: 767px) {
  h5 {
    display: none;
  }

  .min-vh-100 {
    min-height: auto !important;
  }

  .sidebar {
    display: none;
  }

  .editor-sidebar {
    display: block;
    border-top: 1px solid #ddd;
    padding-bottom: 30px !important;
  }
}
